#frame2 { 
  height: 568px;
  margin-left: 132px; 
  margin-top: 105px;
  width: 320px;
}
.gmajr-frame {
  width: 501px;
  height: 304px;
}
.slide-two {
  width: 474px;
  height: 647px;
}
.animate-in .btn-slide {
  margin-left: 20px;
}
.title {
  margin-left: 20px;
}